<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/login.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela login</title>
</head>
<body>

    <div class="container">
        <img src="/images/monitora-img.jpg" alt="monitora">
        <img src="/images/logo.png" alt="" class="logo">
        <div>
            <h1>Login</h1>
            <form action="/" method="post">
                <label for="email">EMAIL</label>
                <input type="email" id="email" name="email" autofocus>
                <span></span>
                <label for="senha">SENHA</label>
                <input type="password" id="senha" name="senha">
                <span></span>
                <button type="submit">Enviar</button>
            </form>
            <img src="/images/logo.png" alt="Logo">
            <a href="#">Esqueci minha senha</a>
        </div>
    </div>

    
    <footer>
        <p>Design e programação feitos por <span>Matheus Batista</span>, <span>Abraão</span>, <span>Douglas</span> and <span>Emerson</span></p>
        <!--Redirecionamento para a página de contato nosso-->
        <a href="#">Nosso contato</a>
    </footer>


    <script src="/js/login.js"></script>
</body>
</html>